@keyframes slide-in-right {
  from {
    transform: translateX(-20vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;

  }
}

@keyframes slide-in-left {
  from {
    transform: translateX(20vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;

  }
}

@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(150vh);
  }
}

/* @keyframes scale-up {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
} */